.footerBackground {
    background-color: var(--shell-purple);
    display: flex;
    flex-direction: row;
    padding: 2% 10%;
    justify-content: space-between;
}

.footerText {
    color: white;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerText a {
    text-decoration: none;
    background-color: var(--shell-purple);
    background: var(--pink-tan-gradient);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    position: relative;
}

.footerText a:after {
    content: "";
    width: 100%;
    height: 1.5rem;
    background-image: var(--pink-tan-gradient);
    position: absolute;
    top: 25%;
    left: 0;
    filter: blur(1em);
    opacity: 0;
    transition: 0.5s all;
}

.footerText a:hover:after {
    opacity: 0.5;
}

.footerSocial {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.yellowHeart {
    width: 2.4rem;
    display: inline;
}
