.footerBackground {
    display: flex;
    flex-direction: column;
    margin: 0 12.5%;
}

.footerText {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerText p {
    padding: 3% 0;
    text-align: center;
    font-size: var(--font-size-medium);
}

.footerText a {
    font-size: var(--font-size-medium);
    text-decoration: none;
    background-color: var(--shell-purple);
    background: var(--pink-tan-gradient);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    position: relative;
}

.footerText a:after {
    content: "";
    width: 100%;
    height: 1.5rem;
    background-image: var(--pink-tan-gradient);
    position: absolute;
    top: 25%;
    left: 0;
    filter: blur(1em);
    opacity: 0;
    transition: 0.5s all;
}

.footerText a:hover:after {
    opacity: 0.5;
}

.footerSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 6% 0;
}

.yellowHeart {
    width: var(--font-size-medium);
    display: inline;
}

/* LANDSCAPE VERSION */
@media screen and (min-width: 1024px) {
    .footerBackground {
        flex-direction: row;
        margin: 0 10%;
        justify-content: space-around;
        align-items: stretch;
    }

    .footerText {
        width: 40%;
    }

    .footerText p {
        font-size: var(--font-size-small);
    }

    .footerText a {
        font-size: var(--font-size-small);
    }

    .footerSocial {
        width: 40%;
        margin-left: 5%;
        margin: 0;
    }

    .yellowHeart {
        width: var(--font-size-small);
    }
}
