.background {
    background: var(--purple-gradient);
    min-height: 100vh;
    height: 100%;
    overflow-y: hidden;
}

.dashboardWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 5%;
    cursor: pointer;
    max-width: 400px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 10% 0 10%;
    justify-content: center;
}

.sidebarItem {
    order: 2;
    width: 100%;
    margin: 2% 0;
    color: white;
    border: 20px solid;
    border-image: url("../../svg/Border.svg");
    border-image-slice: 20 20;
}

.sidebarTitle {
    font-size: var(--font-size-medium);
}

.sidebarText {
    font-size: var(--font-size-medium);
    font-weight: 600;
}

.linkDiv {
    display: flex;
    gap: 5%;
}

.link {
    font-size: var(--font-size-small);
    text-decoration: none;
    background: var(--pink-tan-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    top: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--pink-tan-gradient);
    transition: width 0.3s ease-in-out;
}

.link:hover::before {
    width: 100%;
}

.logoutButton {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-small);
    color: var(--shell-purple);
    transition: transform 1s ease;
}

.logoutButtonBackground {
    background: var(--pink-tan-gradient);
    border-radius: 20px;
    padding: 4%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logoutButtonBackground:hover .logoutButton {
    transform: scale(1.1);
}

.logout {
    margin: 5% 0;
    order: 1;
    width: 100%;
    max-width: 400px;
}

.applicationView {
    display: flex;
    flex-direction: column;
    padding: 2%;
    position: relative;
    z-index: 0;
    color: white;
    margin: 0 10% 10% 10%;
}

.applicationView::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 105%;
    height: 100%;
    background: var(--dark-background);
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    left: -2.5%;
}

.applicationField {
    margin: 5% 0;
}

.applicationFieldText {
    font-weight: 300;
}

.addressField {
    display: flex;
    flex-direction: row;
}

.addressFieldText {
    display: inline;
}

.editButton {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: var(--font-size-body);
    margin: 0 10px;
    padding: 0;
}

.resumeButtons {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}

.file {
    font-size: var(--font-size-body);
}

.resumeSection {
    animation: fade 0.1s linear forwards;
}

.noApplicationDiv {
    display: flex;
    margin: 15% auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noApplicationTitle {
}

.noApplicationText {
    font-weight: 500;
}

.smallButtonBackground {
    background: var(--pink-tan-gradient);
    border-radius: 15px;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 12px 0;
}

.smallButton {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-body);
    color: var(--shell-purple);
    transition: transform 1s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-12px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

/* Firefox Specific */
@-moz-document url-prefix() {
    .applicationView::before {
        background: rgba(0, 0, 0, 0.7);
    }
}

/* LANDSCAPE VERSION */
@media screen and (min-width: 1024px) {
    .dashboardWrapper {
        flex-direction: row;
    }

    .dashboardWrapper::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: -40%;
        left: 0;
        background: url("../../../public/Stars.svg") no-repeat;
        background-size: cover;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        margin: 1% 2%;
        width: 25%;
    }

    .sidebarItem {
        margin: 5% 0;
        color: white;
        border: 20px solid;
        border-image: url("../../svg/Border.svg");
        border-image-slice: 20 20;
    }

    .linkDiv {
        flex-direction: column;
    }

    .applicationView {
        display: flex;
        flex-direction: column;
        padding: 2%;
        position: relative;
        z-index: 0;
        color: white;
        margin: 4%;
        width: 75%;
    }

    .applicationView::before {
        width: 100%;
    }

    .applicationField {
        margin: 2% 0;
    }
}
