.cityBackground {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: var(--purple-gradient);
    display: flex;
}

.city {
    width: 100%;
    align-self: flex-end;
    position: absolute;
}

.cityDiv {
    align-self: flex-end;
    width: 100%;
    height: 100%;
}
