.progressModalShadow {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressModalBackground {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    min-width: 250px;
    min-height: 250px;
    background-color: var(--shell-purple-dark);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

.progressModalIcon {
    width: 50px;
    height: 50px;
}

.progressModalLoader {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
}

.progressModalLoader circle {
    stroke: #ffffff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.progressModalState {
    color: white;
    padding: 0 5%;
    font-weight: 600;
    word-break: break-word;
}

.progressModalButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5%;
    border: none;
    background: none;
    outline: none;
    width: 30px;
}

/* LANDSCAPE VERSION */
@media screen and (min-width: 1024px) {
    .progressModalBackground {
        min-width: 400px;
        min-height: 200px;
    }
}
