.entryPageBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.entryBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    width: 80%;
    padding: 2%;
}

.entryBlock::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 105%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    left: -2.5%;
    top: -0.05%;
}

.entryTitle {
    color: white;
    margin-bottom: 0;
}

.entrySubtitle {
    color: white;
    font-weight: 600;
    background: none;
    border: none;
    appearance: none;
}

.entrySubtitleButton {
    background: var(--pink-tan-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    position: relative;
}

.entrySubtitleButton::before {
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    top: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--pink-tan-gradient);
    transition: width 0.3s ease-in-out;
}

.entrySubtitleButton:hover::before {
    width: 100%;
}

.login-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-field label {
    text-align: left;
    align-self: flex-start;
    font-size: var(--font-size-body);
    margin: 3rem 0 2rem 0;
    color: white;
}

.login-field input {
    width: 100%;
    height: 60px;
    border: 20px solid;
    border-image: url("../../svg/Border.svg");
    border-image-slice: 20 20;
    border-radius: 24px;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    color: white;
    background-color: #3c2066;
}

.login-field input:placeholder {
    color: #c7c7c7;
}

.login-field input:focus {
    background-color: var(--shell-purple);
}

.submitButton {
    border: none;
    background: none;
    outline: none;
    font-size: var(--font-size-small);
    color: var(--shell-purple);
    padding: 5%;
    transition: transform 1s ease;
}

.submitButtonBackground:hover .submitButton {
    transform: scale(1.1);
}

.submitButtonBackground {
    background: var(--pink-tan-gradient);
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 5%;
    width: 70%;
    margin: 4% auto;
}

.currentUserAndLogout {
    margin: 5rem auto 3rem;
    text-align: center;
}

.currentUser {
    margin-bottom: 1rem;
}

.error {
    color: rgb(219, 18, 18);
    font-size: 16px;
}

/* Firefox Specific */
@-moz-document url-prefix() {
    .entryBlock::before {
        background: rgba(0, 0, 0, 0.7);
    }
}

/* LANDSCAPE VERSION */
@media screen and (min-width: 1024px) {
    .entryBlock {
        width: 50%;
    }
}
