.resetPageBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.resetBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    width: 80%;
    padding: 2%;
}

.resetBlock::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 105%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    left: -2.5%;
    top: -0.05%;
}

.resetTitle {
    color: white;
    margin-bottom: 0;
}

.resetSubtitle {
    color: white;
    font-weight: 600;
    background: none;
    border: none;
    appearance: none;
}

.resetSubtitleButton {
    background: var(--pink-tan-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    position: relative;
}

.resetSubtitleButton::before {
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    top: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--pink-tan-gradient);
    transition: width 0.3s ease-in-out;
}

.resetSubtitleButton:hover::before {
    width: 100%;
}

/* Firefox Specific */
@-moz-document url-prefix() {
    .resetBlock::before {
        background: rgba(0, 0, 0, 0.7);
    }
}

/* LANDSCAPE VERSION */
@media screen and (min-width: 1024px) {
    .resetBlock {
        width: 50%;
    }
}
