* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Poppins;
    --shell-pink: #ff7ada;
    --shell-tan: #ffe1a0;
    --shell-blue: #39b7d6;
    --shell-purple: #3d0072;
    --shell-purple-dark: #360063;
    --pink-tan-gradient: linear-gradient(
        to right,
        #ff7ada 0%,
        44%,
        #ffe1a0 100%
    );
    --purple-gradient: linear-gradient(#28002f, #50409e);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-x: hidden;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}
